.base {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, 
button:active, 
button:focus,
textarea:active,
textarea:focus,
input:active,
input:focus {
    outline: none;
}

.link {
    text-decoration: none;
}

.background {
    background: url(../assets/bg.jpg) 0% 0% / cover no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
	align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    position: fixed;
}

.title {
    display: flex;
    flex-direction: column;
}

.title> h1 {
    user-select: none;
    font-size: 8vw;
    color: blue;
}

.start_btn {
    background: #37393d;
    -webkit-transform: translate3D(0, 0, 0);
    -webkit-backface-visibility: hidden;
    cursor: pointer;
    color: cyan;
    padding: 10px 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    display: block;
    height: 50px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
  }

  .start_btn:hover {
    scale: 1.2;
  }

  .start_btn:after {
    padding: 0;
    content: '';
    width: 95%;
    height: 46px;
    display: block;
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
  }

  .start_btn:before {
    -webkit-transition: all 0s ease-in-out;
    -moz-transition: all 0s ease-in-out;
    -o-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
    content: '';
    width: 100%;
    height: 60px;
    display: block;
    position: absolute;
    z-index: -1;
    border-left: 15px solid white;
    box-shadow: -20px 30px 30px white;
    background: transparent;
    top: 0px;
    left: -15px;
    margin-left: -1px;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  
  .start_btn:hover:before, .start_btn:active:before,.start_btn:focus:before {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: translate(115%, 0);
    -moz-transform: translate(115%, 0);
    -ms-transform: translate(115%, 0);
    -o-transform: translate(115%, 0);
    transform: translate(115%, 0);
  }